@font-face {
    font-family: 'Avenir';
    src: url("../../assets/fonts/Avenir/avenir-next-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url("../../assets/fonts/Avenir/avenir-next-regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url("../../assets/fonts/OpenDyslexic/OpenDyslexic-Regular.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}