@use "../../assets/partials/globals" as *;
@use "../../assets/partials/colors" as *;

.suggestion{
    &__title{
        padding: 1rem;
    }
   &__lists{
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.625rem;
   }

   &__link{
    text-decoration: none;
    color: black;
   }
}

.member{
    background-color: $white;
    border: 1px solid black;

    &__disorders-list{
        list-style: none;
        font-size: 0.7rem;
    }

    &__acceptance{
        display: flex;
        justify-content: space-between;
    }
}